<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(title = 'Modifica pizza')}">
<body th:with="isEdit =${pizza.id != null}">
<div class="container">
    <h1 class="text-center" th:text="${isEdit ? 'Modifica la pizza ' + pizza.name : 'Crea una nuova pizza'}"></h1>
    <form
            th:with="formAction=${isEdit ? '/pizza/edit/'+ pizza.id : '/pizza/create'}"
            th:action="@{${formAction}}"
            method="POST"
            th:object="${pizza}"
            enctype="multipart/form-data"
            class="row my-3 justify-content-center">
        <div class="col-3">
            <label for="pizza-name">Nome della Pizza</label>
            <input type="text" class="form-control" id="pizza-name" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                <div th:each="error : ${#fields.errors('name')}" th:text="${error}"></div>
            </div>
        </div>
        <div class="col-4">
            <label for="pizza-picture">URL dell'immagine</label>
            <input type="url" class="form-control" id="pizza-picture" th:field="*{pictureUrl}"
                   th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('pictureUrl')}" class="invalid-feedback">
                <div th:each="error : ${#fields.errors('pictureUrl')}" th:text="${error}"></div>
            </div>
        </div>
        <div class="col-3">
            <label for="pizza-price">Prezzo</label>
            <input type="number" step="0.01" class="form-control" id="pizza-price" th:field="*{price}"
                   th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                <div th:each="error : ${#fields.errors('price')}" th:text="${error}"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-check" th:each="ingredient : ${ingredients}">
            <input class="form-check-input" type="checkbox" th:value="${ingredient.id}" th:id="|ingredient_${ingredient.id}|"
                   th:field="*{ingredients}">
            <label class="form-check-label" th:for="|ingredient_${ingredient.id}|" th:text="${ingredient.name}">
            </label>
        </div>
        </div>
        <div class="col-7">
            <label for="pizza-description">Descrizione</label>
            <textarea class="form-control" id="pizza-description" th:field="*{description}" th:errorClass="is-invalid"></textarea>
            <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                <div th:each="error : ${#fields.errors('description')}" th:text="${error}"></div>
            </div>
        </div>
        <div class="col-4 text-center">
            <img th:src="@{|/files/${pizza.id}|}" class="img-fluid d-inline-block my-3" alt="immagine pizza">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="imageFile" th:field="*{imageFile}">
            <label class="input-group-text" for="imageFile">Immagine</label>
        </div>
        </div>
        <div class="d-flex justify-content-center align-items-center my-3">
            <button class="btn btn-outline-secondary me-3" type="submit">Invia</button>
            <a class="btn btn-outline-secondary" href="/pizza">Torna alla Home</a>
        </div>
    </form>
</div>
</body>
</html>