<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{/fragments/resources :: head(title ='Lista delle Pizze')}">
</head>
<body>
.<div class="container text-center">
    <div th:if="${message != null}">
        <div class="alert alert-success" role="alert" th:text="${message.message}">
        </div>
    </div>
    <h1>Lista delle pizze disponibili</h1>
    <hr>
    <div class="row justify-content-between align-items-center">
        <div class="col text-start">
            <p>Benvenuto, <span sec:authentication="name"></span><span sec:authentication="principal.authorities"></span></p>
            <a th:href="@{/pizza/create}" class="btn btn-outline-secondary" sec:authorize="hasAuthority('ADMIN')">Crea una pizza</a>
            <a th:href="@{/ingredients}" class="btn btn-outline-secondary" sec:authorize="hasAuthority('ADMIN')">Vai agli ingredienti</a>
            <a th:href="@{/login?logout}" class="btn btn-outline-secondary">Esci</a>
        </div>
        <div class="col">
        <form action="/" method="GET">
    <div class="input-group mb-3">
        <input type="text" name="search" th:value="${searchTerm}" class="form-control" placeholder="Cerca una pizza..">
        <button class="btn btn-outline-secondary" type="submit">Cerca</button>
    </div>
        </form>
        </div>
    </div>
    <hr>
<div th:if="${pizze.size() == 0}">
<p>Nessuna pizza in lista.</p>
</div>
<div th:if="${pizze.size() > 0}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Immagine</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Azioni</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizze}" class="align-middle">
            <th scope="row" th:text="${pizza.id}"></th>
            <td><img th:src="${pizza.pictureUrl}" width="150px"></td>
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}">Otto</td>
            <td th:text="|€ ${pizza.price}|"></td>
            <td><a th:href="|/pizza/${pizza.id}|"><i class="fa-solid fa-eye"></i></a>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="|/pizza/edit/${pizza.id}|"><i class="fa-solid fa-pencil"></i></a>
                <form sec:authorize="hasAuthority('ADMIN')" class="d-inline-block" th:action="|/pizza/delete/${pizza.id}|" method="POST"><button class="border-0 text-primary bg-transparent" type="submit"><i class="fa-solid fa-trash"></i></button></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>